{
  "extends": "airbnb-base",
  "rules": {
    "linebreak-style": ["error", "windows"],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": true
    }]
  }
}